@model IEnumerable<proyectoEgresados.Models.Usuarios>

@{
    ViewBag.Title = "Index";
}

<h3 class="text-center">Usuarios</h3>


<table class="table" style="border: 1px solid black">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipodoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprendiz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egresado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Areaformacion)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Documento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipodoc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Genero)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Aprendiz)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Egresado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Areaformacion)
    </td>

    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
