<!DOCTYPE html>

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="fst-italic">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">Egresados Sena</a>
                <p> @Html.ActionLink("Principal", "Index") </p>
                <p> @Html.ActionLink("Crear nuevo", "Create") </p>
               
                <p>
                    @{Html.BeginForm("Details", "Home", FormMethod.Post);}
                    Buscar @Html.TextBox("Id")

                    <input type="submit" class="btn btn-primary" value="Aceptar" />


                    @{Html.EndForm();
                    }
                </p>

            </div>
        </nav>


        @RenderBody()


    </div>
    <br />
    <br />
    <br />
    <div class="container"><h5 class="text-center">Gisela criollo © 2021 - Todos los derechos reservados</h5></div>
</body>
</html>
